//noinspection CssUnknownTarget
.main {
  padding: 100px 50px;
  background: rgba(33, 33, 33, 0.8) url(/mainBackground.jpg) center;
  background-blend-mode: darken;
  background-size: cover;

  article a {
    margin-top: 50px;
  }

  h1, h2, h3 {
    text-shadow: #212121 1px 1px 2px;
  }
}

/* iPhone SE Portrait*/
@media screen and (min-width: 360px) and (max-width: 700px) and (orientation: portrait) {

}


/* iPad Portrait */
@media screen and (min-width: 700px) and (max-width: 900px) and (orientation: portrait) {


}

