.main {
  //noinspection CssUnknownTarget
  background: rgba(33, 33, 33, 0.9) url(/kiropraktikBackground.jpg) center;
  display: flex;
  align-items: center;
  flex-direction: row;

  article {
    iframe {
      width: 1024px;
      height: 576px;
      border-radius: 10px;
    }
  }
}

/* iPad Portrait */
@media screen and (min-width: 700px) and (max-width: 900px) and (orientation: portrait) {
  .main {
    article {
      iframe {
        width: 700px;
      }
    }
  }
}