.main {
  //noinspection CssUnknownTarget
  background: rgba(33, 33, 33, 0.9) url(/kiropraktikBackground.webp) center;
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-block: 50px;
}

.article{
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iframe {
  aspect-ratio: 16/9;
  width: 100%;
}