main {
  display: flex;
  justify-content: center;

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    h3 {
      font-weight: normal;
      margin-bottom: 5px;
    }

    input, button, textarea {
      font-size: 30px;
      border-radius: 10px;
      padding: 10px;
    }

    label:has(textarea) {
      grid-column: span 2;
      display: grid;

      textarea {
        resize: vertical;
        font-size: 20px;
      }
    }

    button {
      grid-column: span 2;
      background-color: #0096C7;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      border: none;
      width: fit-content;
      padding: 10px 40px;
      cursor: pointer;
    }
  }

  .success {
    grid-column: span 2;
    text-align: center;
    display: grid;
    color: white;
    font-size: 20px;
    align-items: center;
    h3 {
      grid-column: span 2;
    }
  }
}

