@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* General site styling */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

h1 {
    color: #F4F4F4;
    font-size: 90px;
}

h2 {
    color: #F4F4F4;
    font-size: 50px;
}

h3 {
    color: #F4F4F4;
    font-size: 30px;
}

p {
    color: #F4F4F4;
    font-size: 30px;
}

hr {
    background-color: #0096C7;
    height: 5px;
    border: none;
}

body {
    background-color: #F4F4F4;
}


/* Header styling */
header {
    color: #F4F4F4;
}

.socialBar {
    background-color: #0096C7;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

svg {
    color: #F4F4F4;
    font-size: 60px;
    margin: 0 15px;
}

.NavBar {
    background-color: #F4F4F4;
    height: 185px;
    display: flex;
    justify-content: space-between;
}

.logoDiv {
    height: 100%;
}

.logoDiv img {
    height: 100%;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks a {
    color: #212121;
    text-decoration: none;
    font-size: 30px;
    margin: 0 30px;
}

.bokaDiv {
    background-color: #0096C7;
    height: 70px;
    width: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: rgba(31, 31, 31, 0.5) solid 1px;
    transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.bokaDiv:hover {
    box-shadow: inset 0 0 20px rgba(200, 200, 200, 0.5), 0 0 20px rgba(135, 135, 135, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: #212121 0 0 10px;
}

.bokaDiv:hover,
.bokaDiv:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}

/* Footer styling */
footer {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

footer h3 {
    color: #212121;
}

footer p {
    color: #212121;
}

.footerLeftDiv {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footerLeftDiv p {
    margin-left: 100px;
}

.footerRightDiv {
    margin-left: 150px;
}
